<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="panel panel-primary d-flex flex-row gap-4">
            <a class="btn btn-primary" th:href="@{/index(categoryName='smartphone')}">Smartphone</a>
            <a class="btn btn-primary" th:href="@{/index(categoryName='watch')}">Watch</a>
            <a class="btn btn-primary" th:href="@{/index(categoryName='food')}">Food</a>
        </div>
        <h1>Liste des articles</h1>
        <div class="panel-body  ">
            <form th:action="@{/index}" method="get">
                <label for="keyword">keyword: </label>
                <input id="keyword" type="text" name="keyword" th:value="${keyword}"></label>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <form th:action="@{/update}" method="post">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Marque</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Catégorie</th>
                </tr>
                <tr th:each="article : ${articles}">
                    <td><span th:unless="${article.id == editId}" th:text="${article.id}"></span><input th:if="${article.id == editId}" type="hidden" name="id" th:value="${article.id}"></td>
                    <td ><span th:unless="${article.id == editId}" th:text="${article.brand}" ></span><input th:if="${article.id == editId}" type="text" name="brand" th:value="${article.brand}">
                    </td>
                    <td ><span th:unless="${article.id == editId}" th:text="${article.description}"></span>
                        <input th:if="${article.id == editId}" type="text" name="description" th:value="${article.description}">
                    </td>
                    <td>
                        <span th:unless="${article.id == editId}" th:text="${article.price}"></span><input th:if="${article.id == editId}" type="number" step="0.01" name="price" th:value="${article.price}">
                    </td>
                    <td>
                        <span th:unless="${article.id == editId}" th:text="${article.category.name}"></span><input th:if="${article.id == editId}" type="text" name="category" th:value="${article.category.name}">
                    </td>
                    <td>
                        <a th:unless="${article.id == editId}" th:href="@{/add(id=${article.id})}" class="d-flex align-items-center bg-transparent border-0"><img alt="Ajouter au panier" src="https://img.icons8.com/?size=25&id=59997&format=png&color=000000"/>Ajouter au panier</a>
                    </td>
                    <td>
                        <a th:href="@{/delete(id=${article.id}, page=${currentPage}, keyword=${keyword})}" class="btn btn-danger">Delete</a></a>
                    </td>
                    <td>
                        <a th:if="${article.id != editId}" th:href="@{/edit(id=${article.id})}" class="btn btn-primary">Edit</a></a>
                        <button th:if="${article.id == editId}" type="submit" class="btn btn-primary">Save</button>
                    </td>
                </tr>
            </table>
        </form>
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage==status.index}?'active':''" th:each="page,status:${pages}">
                <a class="page-link" th:href="@{/index(page=${status.index}, keyword=${keyword})}" th:text="${status.index + 1}"></a>
            </li>
        </ul>

    </div>
</div>
</body>
</html>